{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<style>
 
    .container_div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh; /* Full screen height */
        flex-direction: column;
    }

    .message_box {
        background-color: #ffffff;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
        max-width: 400px;
    }

    .login_form {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        width: 100%;
        max-width: 400px;
    }

    .login_form label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    .login_form input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .login_form button {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        border: none;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .login_form button:hover {
        background-color: #45a049;
    }
    img {
    border-radius: 50%;
    }
</style>

<div class="container_div">

    {% if member or error %}
        <div class="message_box" id="clearText">
            {% if member %}
                <h2>Member Details</h2>
                
                <img src="http://127.0.0.1:8000/media/{{ member.profile_image}}" alt="Avatar" style="width:200px">

            <div style="margin-top:20px;">
                <p><strong>ID Card:</strong> {{ member.id_card }}</p>

                <p><strong>Name:</strong> {{ member.first_name }} {{ member.last_name }}</p>
            </div>
            {% elif error %}
                <p>{{ error }}</p>
            {% endif %}
        </div>
    {% endif %}

    <div class="login_form">
        <form method="POST">
            {% csrf_token %}
            <label for="id_card">ID Card:</label>
            <input type="text" id="id_card" name="id_card" required>
            <button type="submit">Submit</button>
        </form>
    </div>

</div>

<script>
    function clearText(){
        const box = document.getElementById('clearText');
        if (box) {
            box.remove();
        }
    }
    setTimeout(clearText, 15000);
</script>

{% endblock %}