{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}




<div class="form-container">
    <h2>Member Update Expiry Form Form</h2>

    <form action="{% url 'member_update_views' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_card">ID Card:</label>
            {{message}}
            <input type="text" id="id_card" name="id_card" required>
        </div>
        <div class="form-group">
            <label for="expiry">Expiry:</label>
            <input type="date" id="expiry" name="expiry" required>
        </div>
    
        <button type="submit" class="submit-btn">Submit</button>
    </form>


    {% endblock %}