{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<body>
    <div id="clearText">
    {% if member %}
        <h1>Member Details</h1>
        <p>ID Card: {{ member.id_card }}</p>
        <p>Name: {{ member.first_name }} {{ member.last_name }}</p>
        <!-- Add more member details here -->
    {% elif error %}
        <p>{{ error }}</p>
    {% endif %}
</div>

    <form method="POST">
        {% csrf_token %}
        <label for="id_card">ID Card:</label>
        <input type="text" id="id_card" name="id_card" required>
        <button type="submit">Submit</button>
    </form>

</body>

<script>
    function clearText(){
        document.getElementById('clearText').innerHTML = '';
    }

    // Set a timer to clear the text after 3 seconds (3000 milliseconds)
    setTimeout(clearText, 15000);
</script>

{% endblock %}