{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<body>
    {% if member %}
        <h1>Member Details</h1>
        <p>ID Card: {{ member.id_card }}</p>
        <p>Name: {{ member.first_name }} {{ member.last_name }}</p>
        <!-- Add more member details here -->
    {% elif error %}
        <p>{{ error }}</p>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            <label for="id_card">ID Card:</label>
            <input type="text" id="id_card" name="id_card" required>
            <button type="submit">Submit</button>
        </form>
    {% endif %}
</body>


{% endblock %}