{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container_div">
    <div class="form-container">
        <h2>Register Class</h2>

        <form action="{% url 'class_register_view' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            
            <div class="form-group">
                <label for="name">Name</label>
                <select id="name" name="name" required>
                    {%for item in class_data_option %}
                    <option value="{{item.name}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>


           
            <div class="form-group">
                <label for="last_name">Class ID:</label>
                <input type="text" id="class_id_card" name="class_id_card" value="GIMIK-{{random_id}}-CLASS" required readonly>
            </div>
            
          
            
            <div class="form-group">
                <label for="instructor">Trainor</label>
                <select id="instructor" name="instructor" required>
                    
                    {% for item in trainor_data_option %}
                        <option value="{{ item.first_name }} {{ item.last_name }}">{{ item.first_name }} {{ item.last_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="duration">Duration</label>
                <select id="duration" name="duration" required>
                    <option value="1 hour">1 hour</option>
                    <option value="2 hours">2 hours</option>
                    <option value="3 hours">3 hours</option>
                    <option value="4 hours">4 hours</option>
                    <option value="5 hours">5 hours</option>
                </select>
            </div>

            <div class="form-group">
                <label for="schedule">Schedule</label>
                <select id="schedule" name="schedule" required>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Saturday">Sunday</option>
                </select>
            </div>
            
            <button type="submit" class="submit-btn">Submit</button>

        </form>
    </div>
</div>




<style>
    /* Centering the form */
    .container_div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f4f4f4;
      
        
    }

    .form-container {
        background: #fff; 
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        width: 450px;
        text-align: center;
        
    }

    h2 {
        margin-bottom: 20px;
        font-size: 22px;

    }

    .form-group {
        margin-bottom: 15px;
        text-align: left;
    }

    label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="date"],
    input[type="tel"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }

    input[type="file"] {
        width: 100%;
        border: none;
        font-size: 14px;
    }

    .submit-btn {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
        transition: 0.3s;
    }

    .submit-btn:hover {
        background-color: #45a049;
    }
</style>

    

    
{% endblock %}
